    <html style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQaPcEd0BQvx7TOZlN-9JpD1fvj4sm3x6TkTN6EY5FuYA&usqp=CAU&ec=45673586);background-repeat: no-repeat;background-size: cover;">

    <head>

        <title> Turing ECommerce Backend API Homepage </title>

        <link rel="icon" href="https://i.imgur.com/LcAGU0D.png" type="png">

    </head>

    <body>

        <style>

            #img1 {

                display: flex;
                
                justify-content: center;

                align-items: center;

            }

        </style>

        <div > 

            <div id="img1" style="width: 33%;float: left;height: 30%;font-size: 500%;color: red;">Turing</div>

            <div id="img1" style="width: 33%;float: left;height: 30%;">
            
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRFEhnjWoDvjEn2_k1wH3A1-GzkfNl6pM5kGA&usqp=CAU" alt="Welcome To The Site!!!" style="width: 2000px;height: 200px;">
            
            </div>

            <div id="img1" style="width: 33%;float: left;height: 30%;font-size: 480%;font-family: monaco;font-style: italic;margin-left: 10px;color: royalblue;">ECommerce</div>

        </div>

        <div style="width: 33%;height: 33%;"></div>

        <div style="font-size: 70px;color: darkorange;">
            
            Search By : 

            <br><br>

            <div style="width: 50%;float: left;height: 30%;">

                <div style="display: flex;align-items: center;justify-content: center;">
                
                    <form action="/department" method="GET">
    
                         <button type="submit" style="width: 250px;height: 50px;border-radius: 10px;font-size: 20px;font-family: monospace;font-style: italic;background-color: red;color: cyan;cursor: pointer;"> Departments </button>
    
                    </form>
    
                </div>
    
                <div style="display: flex;align-items: center;justify-content: center;">
                    
                    <form action="products" method="GET">
    
                        <button type="submit" style="width: 250px;height: 50px;border-radius: 10px;font-size: 20px;font-family: monospace;font-style: italic;background-color: red;color: cyan;cursor: pointer;"> Products </button>
    
                    </form>
                    
                </div>

            </div>

            <div style="width: 50%;float: left;height: 30%;">

                <div style="display: flex;align-items: center;justify-content: center;">
                
                    <form action="/category" method="GET">
    
                        <button type="submit" style="width: 250px;height: 50px;border-radius: 10px;font-size: 20px;font-family: monospace;font-style: italic;background-color: red;color: cyan;cursor: pointer;"> Categories </button>
    
                    </form>
                    
                </div>
    
                <div style="display: flex;align-items: center;justify-content: center;">
                    
                    <form action="attributes" method="GET">
    
                        <button type="submit" style="width: 250px;height: 50px;border-radius: 10px;font-size: 20px;font-family: monospace;font-style: italic;background-color: red;color: cyan;cursor: pointer;"> Attributes </button>
    
                    </form>
                    
                </div>

            </div>
            
        </div>
    </body>
</html>